
@font-face {
    font-family: 'expresswayregular';
    src: url('../fonts/expressway_rg-webfont.eot');
    src: url('../fonts/expressway_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/expressway_rg-webfont.woff') format('woff'),
         url('../fonts/expressway_rg-webfont.ttf') format('truetype'),
         url('../fonts/expressway_rg-webfont.svg#expresswayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_sansregular';
    src: url('../fonts/liberationsans-regular-webfont.eot');
    src: url('../fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-regular-webfont.woff') format('woff'),
         url('../fonts/liberationsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { font-family: 'Open Sans', 'sans-serif';  }

ul { padding:0; margin:0; list-style:none; }

a { color: #656565; }
a:hover { color: #888; }


.logo-area a {
     font-weight:300; text-decoration:none;
}

.banner {
    background-image:url(../images/bg3.jpg); background-position:center; background-repeat:no-repeat; background-size:cover; padding:3em 0;
}

.inner {
    padding:3em; color:#fff;
    background: rgba(101,101,101,0.5);    
}

.nav > li > a {
	font-size: 12pt;
	line-height:60px;
	padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

#footer {
	margin-top: 30px;
	background-color: #eee;
	line-height: 80px;
}

@media screen and (max-width: 480px) {
    body { font-size:12pt;}
    .logo-area { text-align: center; }
    .logo-area a {
        font-size:12pt; line-height:40px;
    }
    .menu-area { display: none; }
    .banner { height: 300px; }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo-area { float:left; margin-left:60px; }
    .logo-area a {
        font-size:18pt; line-height:80px;
    }
    .menu-area {
        float:right; margin-right:60px;
    }
    .inner { width: 480px;}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .inner { width: 480px;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .inner { width: 480px;}
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {
  .inner { width: 480px;}
}

@media screen and (min-width: 1921px) {
  .inner { width: 480px;}
}