<div class="container">
Contact
	<div style="width:500px; background-color:rgba(101,101,101,0.5); padding:30px 30px; font-family: 'Open Sans', 'sans-serif'; font-weight:300; ">
		<div style="font-size:38pt; line-height:60px;">SUNG HEE LEE</div>
		<div style="font-size:22pt; line-height:60px; letter-spacing:2px;">PIANO TUNING SPECIALIST</div>
		<!-- <div class="font-size:22pt; line-height:60px;" class="text-center;"><a class="btn btn-success">CONTACT</a></div> -->
	<!-- <h4>Certified Piano Tuner / Technician</h4>
	<h4>Diploma in Piano Technology from George Brown College</h4>
	<h4>20 years of professional experience</h4>
	<h4>Servicing pianos for prestigious music institutions in Down Town Toronto</h4> -->
	</div>
</div>