<div class="banner">
	<div class="container">
		<div class="inner text-center">
			<p>SUNG HEE LEE</p>
			<p>PIANO TUNING SPECIALIST</p>
		</div>
	</div>
</div>
<div class="container">	
	<div class="special col-md-12">
		<p>Certified Piano Tuner / Technician</p>
		<p>20 Years of Professional Experience</p>
		<p>Diploma in Piano Technology from George Brown College</p>
		<p>Servicing Pianos for Prestigious Music Institutions in Down Town Toronto</p>
		<p>Serving Great Toronto Area</p>
		<p>Speaking English, Korean and Mandarins Chinese (国语服务)</p>
	</div>
	<div class="clearfix"></div>
	<!-- <h3 style="font-family: 'Open Sans', 'sans-serif'; font-weight:400; text-align:center;">RECENT WORKS</h3> -->
	<!-- <div class="col-md-3">		
		<img src="images/1.jpg" />
	</div>
	<div class="col-md-3">
		<img src="images/2.jpg" />
	</div>
	<div class="col-md-3">
		<img src="images/3.jpg" />
	</div>
	<div class="col-md-3">
		<img src="images/4.jpg" />
	</div>
	<div class="clearfix"></div> -->
	<!-- <hr/>
	<h3 style="padding-left:15px;">BRAND EXPERIENCE</h3>
	<div class="col-md-3"><img src="images/steinway.jpg" /></div>
	<div class="col-md-3"><img src="images/yamaha.jpg" /></div>
	<div class="clearfix"></div>
	<hr/>
	<h3 style="padding-left:15px;">TESTIMONIALS</h3>
	<div class="col-md-6">
		<p style="font-style:italic; font-size:11pt;">"We were looking for a fun but mysterious vibe for our app Klikaklu, and Gabe came through with an excellent design. He also offered up great suggestions for transitions, and helped smooth out the edges of the UX. We've received many positive comments on the product, and Gabe's work has played a strong role."</p> Ken Cooper &#8226; Klikaklu
	</div>
	<div class="col-md-6">
		<p style="font-style:italic; font-size:11pt;">"Sunghee is one of the most talented designers we've ever worked with. From concept evolution to ongoing UX enhancements he has been such a valuable professional to collaborate with. Our company's experience with Gabe has been incredible."</p> Brenton Sullivan &#8226; FieldLevel
	</div>
	<div class="clearfix"></div> -->
</div>
