<div class="container">
	<div class="service-item">
		<div class="" style="float:left; width:400px; padding-top:70px;">
			<div style="font-size:38pt;">TUNING</div>
			<hr/>
			<div style="font-size:16pt;">Castle Gravenhof features 26 modern rooms with all the facilities you need to make your stay with us a truly exquisite and relaxing experience.</div>
		</div>
		<div style="float:right;">
			<img src="../images/tuning.jpg" alt="" title="">
		</div>
		<div class="clearfix"></div>
	</div>	
</div>
<div class="container" style="background-color:#f7f7f7">
	<div class="service-item">
		<div class="" style="float:right; width:400px; padding-top:70px;">
			<div style="font-size:38pt;">REGULATION</div>
			<hr/>
			<div style="font-size:16pt;">Castle Gravenhof features 26 modern rooms with all the facilities you need to make your stay with us a truly exquisite and relaxing experience.</div>
		</div>
		<div style="float:left;">
			<img src="../images/regulation.jpg" alt="" title="">
		</div>
		<div class="clearfix"></div>
	</div>	
</div>
<div class="container">
	<div class="service-item">
		<div class="" style="float:left; width:400px; padding-top:70px;">
			<div style="font-size:38pt;">VOICING</div>
			<hr/>
			<div style="font-size:16pt;">Castle Gravenhof features 26 modern rooms with all the facilities you need to make your stay with us a truly exquisite and relaxing experience.</div>
		</div>
		<div style="float:right;">
			<img src="../images/voicing.jpg" alt="" title="">
		</div>
		<div class="clearfix"></div>
	</div>	
</div>
<div class="container" style="background-color:#f7f7f7">
	<div class="service-item">
		<div class="" style="float:right; width:400px; padding-top:70px;">
			<div style="font-size:38pt;">REPAIR</div>
			<hr/>
			<div style="font-size:16pt;">Castle Gravenhof features 26 modern rooms with all the facilities you need to make your stay with us a truly exquisite and relaxing experience.</div>
		</div>
		<div style="float:left;">
			<img src="../images/repair.jpg" alt="" title="">
		</div>
		<div class="clearfix"></div>
	</div>	
</div>
